<div class="row">

  <div class="col-sm-4">

  </div>

  <div class="col-sm-4">


  </div>

  <div class="col-sm-2">

    <br>
    <button mat-icon-button="car"  color="primary"
            matBadge="" matBadgePosition="before" matBadgeColor="accent">
      <mat-icon matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </div>
  <div class="col-sm-2">



    <br>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle disabled value="italic"><mat-icon matBadgeColor="warn">perm_identity</mat-icon></mat-button-toggle>
      <mat-button-toggle value="bold">Usuario</mat-button-toggle>
    </mat-button-toggle-group>

  </div>

</div>


<form>
  <label for="search">Buscar Estudiante:</label>
  <input type="text" id="search" placeholder="Buscar..." (keyup)="imprimirLetra()" #searchInput>
</form>

