<div class="row">

  <div class="col-md-6">

    <h3>Autor</h3>
    <p>Atributo</p>
    <p>Atributo</p>
    <p>Atributo</p>
    <p>Atributo</p>
    <p>Atributo</p>


  </div>

  <div class="col-md-6">
    <img src="https://www.google.com.ec/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D1213227422118280&imgrefurl=https%3A%2F%2Fes-la.facebook.com%2Fimagenesdivertidasparatumuro%2F&docid=dvzeT-pSp7TkVM&tbnid=U3U3h9UQau_aDM%3A&vet=10ahUKEwiXiZLAn6XcAhWltVkKHdD1BvMQMwidASgOMA4..i&w=634&h=676&bih=662&biw=1366&q=imagenes&ved=0ahUKEwiXiZLAn6XcAhWltVkKHdD1BvMQMwidASgOMA4&iact=mrc&uact=8" alt="">

  </div>

</div>
